body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #797777;
}
header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
h1, h2 {
    text-align: center;
}
.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.book-card {
    background: rgb(201, 197, 197);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 250px;
}
.book-card h3 {
    margin: 0;
}
.book-card p {
    font-size: 14px;
}
